body {
  background-image: url("gif/background.gif");
  background-repeat: repeat;
  margin-top: 2%;
}
a {
  text-decoration: none;
}
p {
  padding-bottom: 0;
}
ol {
  padding: 0;
  margin: 0;
}

h2,
ol {
  text-align: center;
}
h2 {
  font-family: "Monoton", cursive;
  font-size: 3rem;
  font-weight: bold;
  color: #f6fab9;
  text-shadow: 2px 2px 4px #4c4d48;
  margin-top: 1%;
}

.block {
  max-width: 70vw;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ol {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style: none;
  font-size: 1rem;
}

.card {
  font-size: 1.2rem;
  color: #4c4d48;
  margin-block: 0.5rem;
  padding: 1.5rem;
  background-color: #eff0c1;
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

li {
  font-weight: 400;
  text-shadow: 1px 1px 2px #78b79a;
  line-height: 1.5;
}

.button {
  border: 2px solid #f4f7c8;
  border-radius: 5px;
  color: #eff0c1;
  background-color: #a893ad;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
  animation: image-anim 2s infinite ease-in-out alternate;
  margin-top: 1%;
}
.button:hover {
  background-color: #78b79a;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.arrow {
  display: none;
}

@media (max-width: 768px) {
  .button {
    display: none;
  }
  .arrow {
    display: inline-block;
    border: 2px solid #f4f7c8;
    border-radius: 5px;
    color: #eff0c1;
    background-color: #a893ad;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;
    animation: image-anim 2s infinite ease-in-out alternate;
    margin-top: 1%;
  }

  .arrow:hover {
    background-color: #78b79a;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
